/* OVERLAY COLORS */

/* Request-btns {
    blue: #85ADD6;
    black: #858585;
} 

Header-wave-overlays {
    blue: #7893AE;
    black: #666666;
} */

/*END OVERLAY COLORS*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

nav {
    background: #404345;
}

.navbar {
    justify-content: unset; /*overrides bootstrap justify-content style */
}

.navbar-brand {
    display: none;
}

.nav-link {
    color: #FFFFFF;
}

.header-logo {
    position: relative;
    top: -500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brand-header h2 {
    position: relative;
    top: -400px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
    margin: 0px;
}

.brand-header h3 {
    position: relative;
    top: -400px;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
}

.CTA {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.brand-header a {
    position: relative;
    top: -300px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

@media (min-width: 500px) {
    .navbar-brand {
        display: unset;
        color: #FFFFFF;
    }
}
